<div class="row mb-2 stock-item">
  <div class="col">
    <%= f.collection_select :product_id, Product.all, :id, :name, 
          { prompt: "Select Product" }, class: "form-control" %>
  </div>
  <div class="col">
    <%= f.collection_select :size_id, 
          f.object.product ? f.object.product.sizes : [], 
          :id, :name, { prompt: "Select Size" }, class: "form-control" %>
  </div>
  <div class="col">
    <%= f.hidden_field :buying_price, value: f.object.size&.buying_price %>
    <input type="text" class="form-control buying-price" 
           value="<%= f.object.size&.buying_price %>" readonly>
  </div>
  <div class="col">
    <%= f.number_field :quantity, class: "form-control" %>
  </div>
  <div class="col">
    <%= link_to "Remove", "#", class: "btn btn-sm btn-danger remove-row" %>
  </div>
</div>


