<div class="mb-3">
  <% content_for :title, "Stock Movement - #{@product.name} (#{@size.name})" %>
</div>

<table class="table table-bordered">
  <thead style="position: sticky; top: 0; background-color: rgb(146, 211, 232); z-index: 10;">
    <tr>
      <th>No, (Stock Id)</th>
      <th>Date</th>
      <th>Type</th>
      <th>In</th>
      <th>Out</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
  <% balance = 0 %>
  <% @stocks.each_with_index do |stock_item, index| %>
    <% qty = stock_item.quantity %>
    <% balance += qty %>
    <tr>
      <td>
        <%= index + 1 %> 
        (<%= link_to stock_item.stock_id, stock_path(stock_item.stock_id, highlight_stock_item_id: stock_item.id), class: "text-primary" %>)
      </td>
      <td><%= stock_item.created_at.strftime("%d-%b-%Y %H:%M") %></td>
      <td>Inventory Adjustment</td>
      <td class="text-success fw-bold"><%= qty > 0 ? qty : 0 %></td>
      <td class="text-danger fw-bold"><%= qty < 0 ? qty.abs : 0 %></td>
      <td class="<%= balance >= 0 ? 'text-success fw-bold' : 'text-danger fw-bold' %>"><%= balance %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to "Back", stocks_path, class: "btn btn-outline-primary btn-sm" %>
