<%= form_with(model: [@product, @size].compact) do |form| %>

  <% if size.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
        <% size.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% if @product %>
  <div>
    <%= form.label :product_id, "Product" %><br>
    <%= text_field_tag :product_name, @product.name, class: "form-control bg-light text-dark fw-bold", readonly: true %>
    <%= form.hidden_field :product_id, value: @product.id %>
  </div>
<% else %>
      <%= form.label :product_id, style: "display: block" %>
      <%= form.collection_select :product_id, Product.all, :id, :name, {prompt:"-Select-"}, {class:"form-control"} %>
    <% end %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.label :buying_price, style: "display: block" %>
    <%= form.text_field :buying_price, class:"form-control" %>
  </div>

  <div>
    <%= form.label :selling_price, style: "display: block" %>
    <%= form.text_field :selling_price, class:"form-control" %>
  </div>

  <div class="mb-3">
    <% if current_user %>
      <%= form.label :user_id, hidden: true %>
      <%= form.number_field :user_id, id: :product_user_id, class:"form-control", value: current_user.id, hidden: true %>
    <% end %>
  </div>

  <div>
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>


