<div id="<%= dom_id stock_item %>">
  <p>
    <strong>Stock:</strong>
    <%= stock_item.stock_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= stock_item.product_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= stock_item.size_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock_item.quantity %>
  </p>

</div>
