<div>
  <% content_for :title, @product.name %>
</div>
 <br/>

<h3>Available Sizes</h3>
<% if @product.sizes.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Size</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
      </tr>
    </thead>
    <tbody>
      <% @product.sizes.each do |size| %>
        <tr>
          <td><%= size.id %></td>
          <td><%= link_to size.name, size, class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= number_to_currency(size.buying_price, unit:"Ksh ") %></td>
          <td><%= number_to_currency(size.selling_price, unit:"Ksh ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No sizes added yet.</p>
<% end %>

<div class="mb-3">
  <%= link_to "Edit", edit_product_path(@product), class:'btn btn-warning btn-sm' %> |
  <%= link_to "Back", products_path, class:'btn btn-primary btn-sm' %> |
  <%= link_to "Delete", @product, data: { turbo_method: "delete", turbo_confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %> |

  <%= link_to 'Add New Size', new_product_size_path(@product), class: 'btn btn-success btn-sm' %> 
</div>

